{% load static %}
<nav class="bg-indigo-950 border-b-2 border-b-indigo-300">
    <div class="flex flex-wrap justify-between mx-auto items-center max-w-screen-lg">
        <a href="{% url 'home' %}">
            <img src="{% static 'images/ProMonitor_logo.png' %}" alt="ProMonitor Logo" class="w-20">
        </a>
        <div class="flex gap-4 items-center">
            <span class="text-indigo-300 font-medium text-xs">Hello {{request.user}}</span>
            <a href="{% url 'home' %}" class="text-indigo-300 text-xs px-2 py-1 font-medium hover:rounded-md hover:bg-indigo-200 hover:text-indigo-800">Dashboard</a>
            <a href="{% url 'products' %}" class="text-indigo-300 text-xs px-2 py-1 font-medium hover:rounded-md hover:bg-indigo-200 hover:text-indigo-800">Products</a>
            <a href="{% url 'logout' %}" class="text-indigo-300 text-xs px-2 py-1 font-medium hover:rounded-md hover:bg-indigo-200 hover:text-indigo-800">Logout</a>
        </div>

    </div>
</nav>
