<div class="grid grid-cols-3 max-w-screen-lg mx-auto justify-between space-x-6 mt-6">
    <div class="flex flex-col">
        <h1 class="text-md text-center text-indigo-300 font-bold rounded-t-lg bg-indigo-800 border-indigo-800 border-b-2 border-b-indigo-300 py-2">Title</h1>
        <p class="text-md text-center text-indigo-800 font-medium rounded-b-lg bg-indigo-300 p-5">Body</p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-md text-center text-indigo-300 font-bold rounded-t-lg bg-indigo-800 border-indigo-800 border-b-2 border-b-indigo-300 py-2">Title</h1>
        <p class="text-md text-center text-indigo-800 font-medium rounded-b-lg bg-indigo-300 p-5">Body</p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-md text-center text-indigo-300 font-bold rounded-t-lg bg-indigo-800 border-indigo-800 border-b-2 border-b-indigo-300 py-2">Title</h1>
        <p class="text-md text-center text-indigo-800 font-medium rounded-b-lg bg-indigo-300 p-5">Body</p>
    </div>
    
</div>