{% extends 'main.html' %}
{% block title %}Profile Settings{% endblock %}
{% block content %}
{% include 'partials/_home_navbar.html' %}


    <form method="POST" class="max-w-screen-sm mx-auto my-10">

     <button class="bg-indigo-800 text-indigo-300 px-4 py-2 rounded-lg hover:bg-indigo-200 hover:text-indigo-800 mt-2">
            <div class="flex flex-row justify-between gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                     <path fill-rule="evenodd" d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                </svg>
                <a href="{% url 'home' %}">Go back to Dashboard</a>
            </div>
        </button>
        <h1 class="font-medium text-lg text-indigo-300 text-center my-4">Profile Settings</h1>

        {% csrf_token %}

        <div class="bg-indigo-300 rounded-lg my-6 p-6 text-indigo-800 ">
            <div class="flex flex-row gap-4 items-center w-full mx-auto">
                <label>
                    {{ form.first_name.label }}
                </label>
                {{ form.first_name }}
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <div class="text-indigo-800 text-xs mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

                <label>
                    {{ form.last_name.label }}
                </label>
                {{ form.last_name }}
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <div class="text-indigo-800 text-xs mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}


               <label>
                    {{ form.phone.label }}
                </label>
                {{ form.phone }}
                {% if form.phone.errors %}
                    {% for error in form.phone.errors %}
                        <div class="text-indigo-800 text-xs mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

              <label>
                    {{ form.email.label }}
                </label>
                {{ form.email }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="text-indigo-800 text-xs mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

                 <label>
                    {{ form.avatar.label }}
                </label>
                {{ form.avatar }}
                {% if form.avatar.errors %}
                    {% for error in form.avatar.errors %}
                        <div class="text-indigo-800 text-xs mt-2">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    <button type="Submit" name="submit" class="bg-indigo-800 text-indigo-300 px-4 py-2 rounded-lg hover:bg-indigo-200 hover:text-indigo-800 mt-2">Save</button>
    </form>
{% endblock %}