{% extends 'main.html' %}
{% block content %}
{% include 'partials/_home_navbar.html' %}
{% load crispy_forms_tags %}

<form action="" method="POST" class="max-w-screen-sm mx-auto mt-10 max-h-full bg-indigo-300 text-indigo-800 p-8 rounded-lg">
    {% csrf_token %}

    <div class="flex flex-col gap-6">
        <div class="text-lg text-indigo-800 font-medium">
            {{ form.username.label }}
        </div>
        <div class="w-full">
            {{ form.username }}
        </div>
    
        <div class="text-lg text-indigo-800 font-medium">
            {{ form.email.label }}
        </div>
        <div>
            {{ form.email }}
        </div>
    
        <div class="text-lg text-indigo-800 font-medium">
            {{ form.password1.label }}
        </div>
        <div>
            {{ form.password1 }}
        </div>
        
        <div class="text-lg text-indigo-800 font-medium">
            {{ form.password2.label }}
        </div>
        <div>
            {{ form.password2 }}
        </div>
    </div>
   
    
  
    <div class="flex flex-row gap-4 items-center mt-6">
        <button type="Submit" name="submit" class="bg-indigo-800 text-indigo-300 px-4 py-2 rounded-lg hover:bg-indigo-200 hover:text-indigo-800">Register</button>
        <a href="{% url 'login' %}" class="text-indigo-800">Already have an account? <span class="hover:font-medium">Login</span></a>
    </div>
   
</form>

{% endblock %}
