{% extends 'main.html' %}
{% block content %}
{% include 'partials/_home_navbar.html' %}
{% include 'partials/_order_status.html' %}
<div class="flex flex-wrap flex-col space-y-4 sm:flex-wrap sm:flex-col sm:max-screen-sm sm:space-y-4 md:flex-wrap md:flex-col md:max-screen-md md:space-y-4 lg:flex-row lg:space-y-0 max-w-screen-lg mx-auto my-6 justify-around">

    <div class="flex flex-col space-y-2 ">
        <a class="text-indigo-300 font-semibold text-sm text-center">Create Customer</a>

        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full text-sm text-left text-indigo-300">
                <thead class="text-xs text-indigo-300 bg-indigo-800">
                    <tr>
                        <th class="px-6 py-2">
                            Customer
                        </th>
                        <th class="px-6 py-2">
                            Order
                        </th>
                        <th class="px-6 py-2">
                            Edit
                        </th>
                    </tr>
                </thead>
                <tbody class="text-xs text-indigo-800 font-medium">
                    <tr class="bg-indigo-300 border-b-2 border-indigo-800 hover:bg-indigo-200">
                        <td class="px-6 py-2">Emerald Dendron Greenleaf</td>
                        <td class="px-6 py-2">Boots</td>
                        <td class="px-6 py-2">Edit</td>
                    </tr>
                    <tr class="bg-indigo-300 border-b-2 border-indigo-800 hover:bg-indigo-200">
                        <td class="px-6 py-2">Emerald Dendron Greenleaf</td>
                        <td class="px-6 py-2">Boots</td>
                        <td class="px-6 py-2">Edit</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    
       
    <div class="flex flex-col space-y-2">
        <a class="text-indigo-300 font-semibold text-sm text-center">Last 5 Orders</a>

        <div class="relative overflow-x-auto shadow-md rounded-lg">
            <table class="w-full text-sm text-left text-indigo-300">
                <thead class="text-xs text-indigo-300 bg-indigo-800">
                    <tr>
                        <th class="px-8 py-2">
                            Product
                        </th>
                        <th class="px-8 py-2">
                            Date Ordered
                        </th>
                        <th class="px-8 py-2">
                            Status
                        </th>
                        <th class="px-8 py-2">
                            Update
                        </th>
                        <th class="px-8 py-2">
                            Remove
                        </th>
                    </tr>
                </thead>
                <tbody class="text-xs text-indigo-800 font-medium">
                    <tr class="bg-indigo-300 border-b-2 border-indigo-800 hover:bg-indigo-200">
                        <td class="px-8 py-2">Boots</td>
                        <td class="px-8 py-2">July 19, 2024</td>
                        <td class="px-8 py-2">Delivered</td>
                        <td class="px-8 py-2">Update</td>
                        <td class="px-8 py-2">Remove</td>
                    </tr>
                    <tr class="bg-indigo-300 border-b-2 border-indigo-800 hover:bg-indigo-200">
                        <td class="px-8 py-2">Trainer Shoes</td>
                        <td class="px-8 py-2">July 19, 2024</td>
                        <td class="px-8 py-2">Shipping</td>
                        <td class="px-8 py-2">Update</td>
                        <td class="px-8 py-2">Remove</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}

